.birds-list-item {
  padding: 15px;
  text-align: center;
  border: 1px solid #444444;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #444444;
  }
  &.error {
    border: 1px solid #9c0000;
    &:hover {
      background-color: #9c0000;
    }
  }
  &.ok {
    border: 1px solid #00531c;
    &:hover {
      background-color: #00531c;
    }
  }
}